"*":
  core:
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "no"
  editor: {}
  "exception-reporting":
    userId: "3563d226-e1a2-4fc6-a67f-e5966730fc2f"
  welcome:
    showOnStartup: false
