# needed?
#- name: "install packages"
#  tags: shell
#  become: yes
#  dnf:
#    name: libselinux-python
#    state: present

- name: "create .zsh.d"
  tags: shell
  file: 
    path: $HOME/.zsh.d/
    state: directory

- name: "install antigen"
  tags: shell
  get_url: 
    url: https://git.io/antigen
    dest: $HOME/.zsh.d/antigen.zsh

- name: "set zsh as default shell"
  tags: shell
  become: true
  user:
    name: mat
    shell: /bin/zsh

- name: "copy dotfiles for zsh"
  tags: 
    - shell
    - config
  copy:
    src: "{{item}}"
    dest: $HOME
  with_items:
    - .bash_profile
    - .zshrc


