- name: "set input sources"
  tags:
    - gnome
    - config
  script: "set-input-sources.sh"

# see https://www.reddit.com/r/ansible/comments/5gubpl/shell_module_with_standard_std_input/
- name: "import wm keybindings"
  tags:
    - gnome
    - config
  shell: |
    dbus-launch dconf load /org/gnome/desktop/wm/keybindings/ <<-EOF
    {{ lookup("file", "wm-keybindings.dconf.bak") }}
    EOF

- name: "import media keys keybindings"
  tags:
    - gnome
    - config
  shell: |
    dbus-launch dconf load /org/gnome/settings-daemon/plugins/media-keys/ <<-EOF
    {{ lookup("file", "media-keys-keybindings.dconf.bak") }}
    EOF

- name: "install gnome extensions"
  tags:
    - gnome
    - gnome-extensions
  import_role:
      name: jaredhocutt.gnome_extensions
  vars:
    gnome_extension_ids:
      - "8"    # Places Status Indicator
      - "15"   # AlternateTab
      - "16"   # Auto Move Windows
      - "19"   # User Themes
      - "545"  # Hide Top Bar
      - "1128" # Remove Alt+Tab Delay
      - "1267" # No Title Bar
      - "1403" # Hide Activities Button
  environment:
    ANSIBLE_ROLES_PATH: /home/vagrant/.ansible/roles/
