- name: install packages
  become: yes
  dnf:
    name: htop,conky,curl,wget,firefox,chromium,java-1.8.0-openjdk,docker,docker-compose,micro,flameshot,xclip,fontawesome-fonts,rxvt-unicode-256color,zsh,gimp
    state: present
