- name: "remove packages"
  tags: packages
  become: yes
  apt:
    name: "openjdk-11-jre,openjdk-11-jre-headless"
    state: absent
    autoremove: yes

- name: "install packages: dev-tools"
  tags: packages
  become: yes
  apt: 
    name: "openjdk-8-jdk"
    state: present

- name: "install packages: shell-tools"
  tags: packages
  become: yes
  apt: 
    name: "htop,conky,curl,wget,tree,xclip,zsh,guake,terminator"
    state: present

- name: "install packages: gui tools"
  tags: packages
  become: yes
  apt: 
    name: "firefox,chromium-browser,keepassxc,baobab,flameshot,gimp"
    state: present
